html,
body {
	color: #505050;
	line-height: 1.75em;
	background: #000000;
	font-family: "微软雅黑";
}

*{
	margin: 0;
	padding: 0;
}

.txt-p{
	margin-top: 20px;
}

.submit-p{
	margin-top: 20px;
}

#txt{
	min-height: 200px;
	border-radius:5px ;
	border: 1px solid lightgray;
}

.foot {
	background: #000000;
	margin-top: 75px;
	color: white;
	text-align: center;
}
