html,
body {
	color: #505050;
	line-height: 1.75em;
	background: #000000;
	font-family: "微软雅黑";
	word-break:hyphenate;
}

*{
	margin: 0;
	padding: 0;
}

.txt-p{
	margin-top: 20px;
}

.submit-p{
	margin-top: 20px;
}

#txt{
	min-height: 200px;
	border-radius:5px ;
	border: 1px solid lightgray;
}
.panel{
	min-height: 450px;
}
.panel.panel-default.table-responsive{
	padding: 15px;
}
.panel table{
	padding-bottom: 50px;
}
ul.pagination{
	position: relative;
	left: 5%;
}
.foot {
	background: #000000;
	margin-top: 75px;
	color: white;
	text-align: center;
}
@media (min-width:768px) {
	table{
		table-layout:fixed;
	}
	#th1{
		width: 5%;
	}
	#th2{
		width: 15%;
	}
	#th3{
		width: 65%;
	}
	#th4{
		width: 5%;
	}
	#th5{
		width: 5%;
	}
	#th6{
		width: 5%;
	}
}
.text-cell{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}