html,
body {
	color: #505050;
	line-height: 1.75em;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#A1CDE1), to(#0C4761));
	font-family: "微软雅黑";
}

* {
	margin: 0;
	padding: 0;
}

a{
	color: lightpink;
}

a:hover{
	text-decoration: none;
}

h3{
	color: white;
}

a:hover{
	text-decoration: none;
}

.main{
	min-height: 350px;
	min-width: 350px;
}

.main-header {
	text-align: center;
	background: linear-gradient(to right,rgb(84,84,86) , #000); 
}

.header-txt{
	float: left;
	clear: all;
	margin-top: 100px;
}

.header-txt span{
	color: white;
	font-size: 30px;
	font-family: "楷体";
	box-shadow: 2px 5px 15px white;
}

.header-txt p{
	color: white;
	font-size: 20px;
	margin-left: 150px;
	box-shadow: 2px 5px 15px white;
}

.main-header img {
	max-width: 100%;
	float: right;
	clear: all;
}
.main-navigation {
	text-align: center;
	background: #FFFFFF;
	border-bottom: 3px solid #elelel;
	border-top: 1px solid #ebebeb;
	margin-bottom: 35px;
}

.main-navigation .navbar-header {
	text-align: center;
	display: inline-block;
}

.main-navigation .menu {
	padding: 0;
	margin: 0;
}

.main-navigation .menu li.nav-current {
	border-bottom: 3px solid lightsalmon;
}

.main-navigation .menu li {
	list-style: none;
	display: inline-block;
	position: relative;
	font-weight: 400;
	font-size: 16px;
}

.main-navigation .menu li a {
	color: #505050;
	line-height: 4em;
	display: block;
	padding: 0 30px;
}

.main-navigation .menu li a:hover {
	color: paleturquoise;
}


.course{
	color: white;
	border-bottom: 1px solid white;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.foot {
	background: #000000;
	margin-top: 20px;
	color: white;
	text-align: center;
}