html,
body {
	color: #505050;
	line-height: 1.75em;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#A1CDE1), to(#0C4761));
	font-family: "微软雅黑";
}


a:hover{
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}
.main-header {
	text-align: center;
	 background: linear-gradient(to right,rgb(84,84,86) , #000); 
}

.header-txt{
	float: left;
	clear: all;
	margin-top: 100px;
}

.header-txt span{
	color: white;
	font-size: 30px;
	font-family: "楷体";
	box-shadow: 2px 5px 15px white;
}

.header-txt p{
	color: white;
	font-size: 20px;
	margin-left: 150px;
	box-shadow: 2px 5px 15px white;
}

.main-header img {
	max-width: 100%;
	float: right;
	clear: all;
}

.main-navigation {
	text-align: center;
	background: #FFFFFF;
	border-bottom: 3px solid #elelel;
	border-top: 1px solid #ebebeb;
	margin-bottom: 35px;
}

.main-navigation .navbar-header {
	text-align: center;
	display: inline-block;
}

.main-navigation .menu {
	padding: 0;
	margin: 0;
}

.main-navigation .menu li.nav-current {
	border-bottom: 3px solid lightsalmon;
}

.main-navigation .menu li {
	list-style: none;
	display: inline-block;
	position: relative;
	font-weight: 400;
	font-size: 16px;
}

.main-navigation .menu li a {
	color: #505050;
	line-height: 4em;
	display: block;
	padding: 0 30px;
}

.main-navigation .menu li a:hover{
	color: paleturquoise;
}


.foot {
	background: #000000;
	margin-top: 20px;
	color: white;
	text-align: center;
	
}

.trends {
	min-height: 600px;
	background: #FFFFFF;
	margin-top: 35px;
	padding: 15px;
	border-radius: 10px;
}

.trends h2 {
	border-bottom: 1px solid #5DA4BE;
	color:#5DA4BE;
	font-weight: 700;
	padding: 10px 0;
	margin: 10px;
	text-align: center;
}

.trends .new-trends {
	margin: 10px;
	border-bottom: 1px solid lightgray;
}

button{
	border: 1px solid #0C4761;
	background: #0C4761;
	border-radius:5px ;
	color: #FFFFFF;
	padding: 5px 10px;
	margin: 5px;
}

.but2{
	float: right;
	clear: all;
}

p{
	font-size: 15px;
	line-height: 25px;
}

h4{
	font-weight: 700;
}

.author-box{
	text-align: right;
	font-size: 16px;
}

.back h4{
	border-bottom: 1px solid #5DA4BE;
	color: #5DA4BE;
	font-weight: 700;
	padding: 10px 0;
	margin: 10px;
}


.back {
	margin-top: 35px;
	background: #FFFFFF;
	border-radius: 5px;
}
.search-input{
	position: absolute;
}
.search-btn{
	position: relative;
	left: 0;
	top: -5px;
}
.search{
	margin-top: 35px;
}

.new-tag{
	margin-left: 8px;
}
/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
	.pic{
		width: 100%;
	}
	#show img{
		width: 100%;	
		height: auto;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.pic{
		width: 100%;
	}
	#show img{
		width: 100%;	
		eight: auto;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.pic{
		width: 75%;
	}
	#show img{
		width: 75%;	
		eight: auto;
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
	.pic{
		width:60%;
	}
/*	#show img{
		width: 100%;	
	}*/
}