<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>动态</title>
		<link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
		<link rel="stylesheet" href="__CSS__/trends.css" />

	</head>

	<body class="home-template">
		<header class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-txt">
							<span>物联网工作室</span>
							<p>Internet of Things Studio</p>
						</div>
						<img src="__IMG__/1.png" />
					</div>

				</div>
			</div>
		</header>
		<!--包含inedx头部-->
		{include file="index/header" /}
		<section class="main-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="tab">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li role="presentation" class="active">
									<a href="{:url('Index/trends_1')}" >Trend</a>
								</li>
								<li role="presentation">
									<a href="{:url('Index/trends_2')}" >Essay</a>
								</li>
								<li role="presentation">
									<a href="{:url('Index/trends_4')}" >Notice</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="dongtai">
									<ul class="information">
										{foreach $trends as $trend}
										<li>
											<a href="{:url('Read/index').'?type=trend&id='.$trend['id']}">{$trend.name}</a>
											<span>{$trend.publish_date}</span>
										</li>
										{/foreach}
									</ul>
								</div>
								{$trends->render()}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="foot">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span>&copy;2017-物联网工作室&nbsp;</span>
					</div>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="__JS__/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
		<script type="text/javascript" src="__JS__/jquery.js"></script>
	</body>

</html>