<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>后台管理</title>

		<link href="__CSS__/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="__CSS__/fileinput.min.css" />
		<link rel="stylesheet" href="__CSS__/cms-member.css" />
		<script src="__JS__/jquery.min.js"></script>
		<script src="__JS__/bootstrap.min.js"></script>
		<script type="text/javascript" src="__JS__/fileinput.min.js" ></script>
		<script type="text/javascript" src="__JS__/zh.js" ></script>
	</head>

	<body>
	<!--包含cms头部-->
	{include file="cms/header" /}

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<a href="#" class="list-group-item active">发表 管理</a>
					<a href="{:url('Cms/publication')}" class="list-group-item ">所有发表 </a>
					<a href="" class="list-group-item disable">添加新发表 </a>
				</div>
				<div class="col-sm-10">
					<ol class="breadcrumb">
						<li class="active">发表 管理
						</li>
						<li class="active">添加新发表 
						</li>
					</ol>

					<div class="panel panel-default">
						<div class="panel-heading">
							添加
						</div>
						<div class="panel-body">
							<form role="form" action="{:url('Cms/updateResource')}" method="post" enctype="multipart/form-data">
								<input type="hidden" name="type" value="publication" >
								<div class="form-group">
									<label for="name">发表 名称：</label>
									<input type="text" class="form-control" name="name" id="name" placeholder="请输入名称">
								</div>
								<div class="form-group">
									<label for="name">发表 介绍:</label>
									<textarea class="form-control" name="text" id="txt" placeholder="请输入内容"></textarea>
								</div>
								<div class="form-group">
									<label for="name">Publication封面：</label>
									<input id="input-5" name="file[]" type="file" class="file-loading">
								</div>
								<div class="form-group">
									<label for="name">上传资源：</label>
									<input id="input-6" name="file[]" type="file" class="file-loading">
								</div>
								<p class="submit-p">
									<button type="submit" class="btn btn-danger" id="btnSubmit">提交</button>
								</p>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
		<footer class="foot">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span> &copy;2017-物联网工作室&nbsp;<a class="glyphicon glyphicon-wrench" href="CMS.html"></a></span>
					</div>
				</div>
			</div>
		</footer>
	<script>
        $(document).on('ready', function() {
            $("#input-5").fileinput({
                showUpload:false,
                showCaption:false,
                language: 'zh',
                maxFileSize:5000,
                allowedFileTypes:["image"]
//                                                uploadUrl: "{:url('Cms/updateMember')}"
            });
            $("#input-6").fileinput({
				showUpload:false,
                showCaption:false,
                language: 'zh',
                maxFileSize:5000,
            });
        });
	</script>
	</body>
</html>