<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>后台管理</title>

		<link href="__CSS__/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="__CSS__/fileinput.min.css" />
		<link rel="stylesheet" href="__CSS__/cms-member.css" />
		<script src="__JS__/jquery.min.js"></script>
		<script src="__JS__/bootstrap.min.js"></script>
		<script type="text/javascript" src="__JS__/fileinput.min.js" ></script>
		<script type="text/javascript" src="__JS__/zh.js" ></script>
	</head>
	<body>
	<!--包含cms头部-->
	{include file="cms/header" /}

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<a href="#" class="list-group-item active">成员管理</a>
					<a href="{:url('Cms/member')}" class="list-group-item ">所有成员</a>
					<a href="{:url('Cms/addMember')}" class="list-group-item">添加新成员</a>
					<a href="#" class="list-group-item disable">修改成员</a>
				</div>
				<div class="col-sm-10">
					<ol class="breadcrumb">
						<li class="active">成员管理
						</li>
						<li class="active">添加新成员
						</li>
					</ol>

					<div class="panel panel-default">
						<div class="panel-heading">
							添加
						</div>
						<div class="panel-body">
							<form role="form" action="{:url('Cms/updateMember')}" method="post" enctype="multipart/form-data">
								<input type="hidden" name="id" value="{$data.id}">
								<div class="form-group">
									<label for="name">成员姓名：</label>
									<input type="text" class="form-control" name="name" id="name" value="{$data.name}" placeholder="请输入名称">
								</div>
								<div class="form-group">
									<label for="name">个人介绍:</label>
									<textarea class="form-control" name="text" id="txt" placeholder="请输入内容">{$data.text}</textarea>
								</div>
								<div class="form-group kv-avatar center-block">
									<label for="name">成员照片：</label>
									<input id="input-6" name="image[]" type="file" class="file-loading">
								</div>
								<p class="submit-p">
									<button type="submit" class="btn btn-danger" id="btnSubmit">提交</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="foot">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span> &copy;2017-物联网工作室&nbsp;<a class="glyphicon glyphicon-wrench" href="CMS.html"></a></span>
					</div>
				</div>
			</div>
		</footer>
		{php}
				$pic_dir=$data['pic_dir'];
				$pic_dir=str_replace('\\','/',$pic_dir);
		{/php}
	<script>
        $("#input-6").fileinput({
            overwriteInitial: true,
            maxFileSize: 5000,
            showClose: false,
            showCaption: false,
            browseLabel: '',
            removeLabel: '',
            browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
            removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
            removeTitle: '撤销该照片',
            elErrorContainer: '#kv-avatar-errors-1',
            msgErrorClass: 'alert alert-block alert-danger',
            defaultPreviewContent: '<img src="__MEMBER__/{$pic_dir}" style="width:160px">',
            layoutTemplates: {main2: '{preview} {remove} {browse}'},
            allowedFileExtensions: ["jpg", "png", "gif"]
        });
	</script>
	</body>
</html>