<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程</title>

    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/cms.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/simditor.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/sweetalert.css" />
</head>

<body>
<!--包含cms头部-->
{include file="cms/header" /}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <a href="#" class="list-group-item active">课程管理</a>
            <a href="#" class="list-group-item disabled">所有课程</a>
            <a href="{:url('Cms/add').'?type=course'}" class="list-group-item">添加课程</a>
        </div>
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">课程管理
                </li>
                <li class="active">所有课程
                </li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading">
                    所有课程
                </div>
                <div class="panel panel-default table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th id="th1">编号</th>
                            <th id="th2">名称</th>
                            <th id="th3">简介</th>
                            <th id="th4">查看</th>
                            <th id="th5">修改</th>
                            <th id="th6">删除</th>
                        </tr>
                        </thead>
                        <tbody>
                            {foreach $courses as $course}
                            <tr>
                                {foreach $course as $name=>$cell}
                                <?php if($name == 'file_dir'){
                                            continue;
                                        }elseif($name == 'file_name'){
                                            continue;
                                        }
                                        if($name == 'text'){?>
                                            <td class="text-cell">{$cell}</td>
                                        <?php }else{?>
                                            <td>{$cell}</td>
                                        <?php }
                                 ?>
                                {/foreach}
                                <td>
                                    <a href="{:url('Read/index').'?type=course&id='.$course['id']}" class="table-btn"><span class="glyphicon glyphicon-eye-open"></span></a>
                                </td>
                                <td>
                                    <a href="{:url('Cms/change').'?type=course&id='.$course['id']}" class="table-btn"><span class="glyphicon glyphicon-edit"></span></a>
                                </td>
                                <td>
                                    <a href="#" class="table-btn delete-btn" id="{$course.id}"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                    {$courses->render()}
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="foot">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span> &copy;2017-物联网工作室&nbsp;</span>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/sweetalert.js"></script>
<script>
    post_data = 't='+Math.random()+'&type=course&id=';
    post_url = "{:url('cms/delete')}"
</script>
<script src="__JS__/delete.js"></script>
</body>
</html>