<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="icon-bar" href="{:url('Cms/index')}">动态管理</a>
                </li>
                <li><a href="{:url('Cms/essay')}">文章管理</a>
                </li>
                <li><a href="{:url('Cms/course')}">课程管理</a>
                </li>
                <li><a href="{:url('Cms/publication')}">发表管理</a>
                </li>
                <li><a href="{:url('Cms/notice')}">公告设置</a>
                </li>
                <li><a href="{:url('Cms/member')}">成员管理</a>
                </li>
                <li><a href="{:url('Cms/member')}">网站设置</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎您,{$admin}</a>
                </li>
                <li><a href="{:url('Index/logout')}">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>