html,
body {
	color: #505050;
	line-height: 1.75em;
	background: #000000;
	font-family: "微软雅黑";
}

* {
	margin: 0;
	padding: 0;
}

a:hover{
	text-decoration: none;
}

.main-header {
	text-align: center;
	background: #000000;
}

.main-header img {
	max-width: 100%;
}

.main-navigation {
	text-align: center;
	background: #FFFFFF;
	border-bottom: 3px solid #elelel;
	border-top: 1px solid #ebebeb;
	margin-bottom: 35px;
}

.main-navigation .navbar-header {
	text-align: center;
	display: inline-block;
}

.main-navigation .menu {
	padding: 0;
	margin: 0;
}

.main-navigation .menu li.nav-current {
	border-bottom: 3px solid lightsalmon;
}

.main-navigation .menu li {
	list-style: none;
	display: inline-block;
	position: relative;
	font-weight: 400;
	font-size: 16px;
}

.main-navigation .menu li a {
	color: #505050;
	line-height: 4em;
	display: block;
	padding: 0 30px;
}
.foot {
	background: #000000;
	margin-top: 20px;
	color: white;
	text-align: center;
	border-top: 1px solid white;
}

.trends {
	background: #FFFFFF;
	margin-top: 35px;
	border-radius: 10px;
}

.trends h2 {
	border-bottom: 1px solid lightsalmon;
	color: lightsalmon;
	font-weight: 700;
	padding: 10px 0;
	margin: 10px;
	text-align: center;
}

.trends .new-trends {
	margin: 10px;
	border-bottom: 1px solid lightgray;
}

button{
	border: 1px solid lightsalmon;
	background: lightsalmon;
	border-radius:5px ;
	color: #FFFFFF;
	padding: 5px 10px;
	margin: 5px;
}

.but2{
	float: right;
	clear: all;
}

p{
	font-size: 15px;
	line-height: 25px;
}

h4{
	font-weight: 700;
}

.author-box{
	text-align: center;
}

.back h4{
	border-bottom: 1px solid lightsalmon;
	color: lightsalmon;
	font-weight: 700;
	padding: 10px 0;
	margin: 10px;
}


.back {
	margin-top: 35px;
	background: #FFFFFF;
	border-radius: 5px;
}
.search-input{
	position: absolute;
}
.search-btn{
	position: relative;
	left: 0;
	top: -5px;
}
.search{
	margin-top: 35px;
}
